<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="atdl4net">
      <section name="settings" type="Atdl4net.Configuration.ConfigurationSectionHandler, Atdl4net"/>
    </sectionGroup>
    <!--    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/> -->
  </configSections>

  <!-- Use something similar to the following if you want Log4net support...
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\log\log.xml"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>
    <logger name="Atdl4net.Xml.Serialization">
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Atdl4net.Model.Controls">
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Atdl4net.Validation">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Atdl4net.Model.Collections">
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Atdl4net.Model.Types.Support">
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Atdl4net.Model.Elements">
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Atdl4net.Wpf.ViewModel">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>

  -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
        <arg key="useTraceSource" value="true"/>
      </factoryAdapter>
    </logging>
  </common>
  
  <atdl4net>
    <settings>
      <wpf>
        <view autoSizeDropDowns="true"/>
        <viewModel validateOnChange="true"/>
      </wpf>
    </settings>
  </atdl4net>
  
  <system.diagnostics>
    <sources>
      <source name="Atdl4net.Fix" switchName="Atdl4net.Fix.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Diagnostics" switchName="Atdl4net.Diagnostics.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Xml.Serialization" switchName="Atdl4net.Xml.Serialization.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Model.Elements" switchName="Atdl4net.Model.Elements.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Wpf" switchName="Atdl4net.Wpf.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Wpf.View" switchName="Atdl4net.Wpf.View.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Wpf.ViewModel" switchName="Atdl4net.Wpf.ViewModel.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Model.Controls" switchName="Atdl4net.Model.Controls.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Model.Validation" switchName="Atdl4net.Model.Validation.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Model.Collections" switchName="Atdl4net.Model.Collections.Level" switchType="System.Diagnostics.SourceSwitch"/>
      <source name="Atdl4net.Model.Types" switchName="Atdl4net.Model.Types.Level" switchType="System.Diagnostics.SourceSwitch"/>
    </sources>
    <!-- Valid switch values are: Off | Critical | Error | Warning | Information | Verbose | ActivityTracing | All -->
    <switches>
      <add name="Atdl4net.Fix.Level" value="Verbose"/>
      <add name="Atdl4net.Diagnostics.Level" value="Warning"/>
      <add name="Atdl4net.Xml.Serialization.Level" value="Warning"/>
      <add name="Atdl4net.Model.Elements.Level" value="Verbose"/>
      <add name="Atdl4net.Wpf.Level" value="Verbose"/>
      <add name="Atdl4net.Wpf.View.Level" value="Verbose"/>
      <add name="Atdl4net.Wpf.ViewModel.Level" value="Verbose"/>
      <add name="Atdl4net.Model.Controls.Level" value="Information"/>
      <add name="Atdl4net.Validation.Level" value="Verbose"/>
      <add name="Atdl4net.Model.Collections.Level" value="Verbose"/>
      <add name="Atdl4net.Model.Types.Level" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>
